
<h2>Podrobnosti vprašanja</h2>

<a [routerLink]="" (click)="pojdiNazaj()">Nazaj</a>

<h3>Vprašanje: {{vprasanje.vprasanje}}</h3>

<h4>Statistika</h4>
<div class="statistika">
    <table>
        <tr>
            <th>Odgovor</th>
            <th>Frekvenca</th>
        </tr>
        <tr *ngFor="let stat of seznamStatistike">
            <td>{{stat.odgovor}}</td>
            <td>{{stat.steviloOdgovorov}}</td>
        </tr>
    </table>
</div>

<h4>Odgovori</h4>
<div class="odgovori" *ngFor="let odg of seznamOdgovorov">
    {{odg.posodobljenOb | date: 'dd.MM.yyyy HH:mm:ss'}}&#160;&#160;&#160;&#160;{{odg.odgovor}}
</div>
